<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Please add hero</h1>
    <h1>create your product!</h1>
    <form action="/hero/addPower" method="post">

    <div>
      <label for="">herro name:</label>
      <input type="text"  name="name"/>
    </div>

    <div>
      <label for="">country </label>
      <input type="text" name="country"/>
    </div>

    <div>
      <label for="">super power</label>
      <input type="text"  name="super power"/>
    </div>

    <div>
      <label for="">partner</label>
      <input type="text" name="partner"/>
      </div>
     
      <button>submit</button>
    </form>


</body>
</html>