<%- include('./partials/headers.ejs') %> 
<link rel="stylesheet" href="./css/index.css">
<title>Cart</title>
<%- include('./partials/navBar.ejs') %> 
<form action="/addGames/2" method="post">
    <div>
        <label for="">video</label>
<input type="text" name="video" id="">
<input type="text" name="video1" id="">
<input type="text" name="video2" id="">
</div>
<div>
    <label for="board">board</label>
<input type="text" name="board" id="">
<input type="text" name="board2" id="">
</div>
<label for="">soprt</label>
<input type="text" name="sport" id="">
<button>submit</button>
</form>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
      <script src="./js/index.js"></script>

</body>
</html>